{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">

    <h2 class="text-center">Actualizar Clase</h2>
    <form method="POST" action="{% url 'actualizar_clase' clase.id %}">
        {% csrf_token %}

        <label>Nombre:</label>
        <input type="text" name="nombre_clase" class="form-control" value="{{ clase.nombre_clase }}" required>

        <label class="mt-2">Descripción:</label>
        <textarea name="descripcion" class="form-control">{{ clase.descripcion }}</textarea>

        <label class="mt-2">Horario:</label>
        <input type="text" name="horario" class="form-control" value="{{ clase.horario }}" required>

        <label class="mt-2">Profesor:</label>
        <select name="profesor" class="form-control">
            {% for profesor in profesores %}
            <option value="{{ profesor.id }}" {% if profesor.id == clase.profesor.id %} selected {% endif %}>
                {{ profesor.nombre }}
            </option>
            {% endfor %}
        </select>

        <label class="mt-2">Alumnos:</label>
        <select name="alumnos" class="form-control" multiple>
            {% for alumno in alumnos %}
            <option value="{{ alumno.id }}" {% if alumno in clase.alumnos.all %} selected {% endif %}>
                {{ alumno.nombre }}
            </option>
            {% endfor %}
        </select>

        <label class="mt-2">Fecha de inicio:</label>
        <input type="date" name="fecha_inicio" class="form-control" value="{{ clase.fecha_inicio }}">

        <button class="btn btn-success mt-3" type="submit">Actualizar</button>
    </form>

</div>
{% endblock %}

