{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
<h2 class="text-center mb-3">Agregar Clase</h2>
<form method="POST">
    {% csrf_token %}
    <input type="text" name="nombre_clase" placeholder="Nombre de la clase" class="form-control mb-2" required>
    <textarea name="descripcion" placeholder="Descripción" class="form-control mb-2"></textarea>
    <input type="text" name="horario" placeholder="Horario" class="form-control mb-2">
    <label>Profesor:</label>
    <select name="profesor" class="form-select mb-2">
        {% for p in profesores %}
        <option value="{{ p.id }}">{{ p.nombre }} {{ p.apellido }}</option>
        {% endfor %}
    </select>
    <label>Alumnos:</label>
    <select name="alumnos" class="form-select mb-2" multiple>
        {% for a in alumnos %}
        <option value="{{ a.id }}">{{ a.nombre }} {{ a.apellido }}</option>
        {% endfor %}
    </select>
    <input type="date" name="fecha_inicio" class="form-control mb-2">
    <button type="submit" class="btn btn-success w-100">Guardar</button>
</form>
</div>
{% endblock %}
