{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">

    <h2 class="text-center mb-3">Agregar Clase</h2>

    <form method="POST">
        {% csrf_token %}

        <label>Nombre de la clase:</label>
        <input type="text" name="nombre_clase" class="form-control" required>

        <label class="mt-2">Descripción:</label>
        <textarea name="descripcion" class="form-control" required></textarea>

        <label class="mt-2">Horario:</label>
        <input type="text" name="horario" class="form-control" required>

        <label class="mt-2">Profesor:</label>
        <select name="profesor" class="form-control" required>
            {% for profesor in profesores %}
            <option value="{{ profesor.id }}">{{ profesor.nombre }}</option>
            {% endfor %}
        </select>

        <label class="mt-2">Alumnos:</label>
        <select name="alumnos" class="form-control" multiple>
            {% for alumno in alumnos %}
            <option value="{{ alumno.id }}">{{ alumno.nombre }}</option>
            {% endfor %}
        </select>

        <label class="mt-2">Fecha de inicio:</label>
        <input type="date" name="fecha_inicio" class="form-control" required>

        <button class="btn btn-primary mt-3" type="submit">Guardar</button>
    </form>

</div>
{% endblock %}
