<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'inicio' %}">Escuela de Danza</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <!-- Alumnos -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                        Alumnos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'ver_alumnos' %}">Ver alumnos</a></li>
                        <li><a class="dropdown-item" href="{% url 'agregar_alumno' %}">Agregar alumno</a></li>
                    </ul>
                </li>

                <!-- Profesores -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                        Profesores
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'ver_profesores' %}">Ver profesores</a></li>
                        <li><a class="dropdown-item" href="{% url 'agregar_profesor' %}">Agregar profesor</a></li>
                    </ul>
                </li>

                <!-- Clases -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                        Clases
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'ver_clases' %}">Ver clases</a></li>
                        <li><a class="dropdown-item" href="{% url 'agregar_clase' %}">Agregar clase</a></li>
                    </ul>
                </li>

                <!-- Asistencias -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                        Asistencias
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'ver_asistencias' %}">Ver asistencias</a></li>
                        <li><a class="dropdown-item" href="{% url 'agregar_asistencia' %}">Agregar asistencia</a></li>
                    </ul>
                </li>

                <!-- Salones -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                        Salones
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'ver_salones' %}">Ver salones</a></li>
                        <li><a class="dropdown-item" href="{% url 'agregar_salon' %}">Agregar salón</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>
